<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="static/assets/apple-icon-180x180.png">
  <link href="static/assets/favicon.ico" rel="icon">

  <title>Title page</title>  

<link href="static/main.3f6952e4.css" rel="stylesheet">
<link href="static/style.css" rel="stylesheet"></head></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./work.html" title="">001</a></li>
            <li><a href="./work2.html" title="" class="active">002</a></li>
            <li><a href="./work3.html" title="">003</a></li>
            <li><a href="./work4.html" title="">004</a></li>
            <li><a href="./work5.html" title="">005</a></li>
            <li><a href="./work6.html" title="">006</a></li>
            <li><a href="./work7.html" title="">007</a></li>
            <li><a href="./work8.html" title="">008</a></li>
            <li><a href="./work9.html" title="">009</a></li>
            <li><a href="./work10.html" title="">010</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="static/assets/images/acrobat.png" class="hero-img" alt="">>
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">002 : Procesamiento y manipulación de PDFs con Python</h1>
          </div>
          <p>Este proyecto utiliza Python para automatizar el trabajo con documentos PDF. Aprendí a combinar varios archivos en un solo documento, agregar marcas de agua y trabajar página por página usando la librería pypdf.</p>

          <blockquote>
            <p>Usé la librería pypdf para combinar varios PDF en uno solo y agregar una marca de agua automáticamente a cada página.</p>
          </blockquote>
        </div>
      </div>

      
      
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <img src="static/assets/images/dummy pdf.png"
                 class="img-responsive" alt="PDF dummy">
          </div>
          <div class="col-xs-12 col-md-4">
            <img src="static/assets/images/tilt_pdf.png"
                 class="img-responsive" alt="PDF tilt">
          </div>
          <div class="col-xs-12 col-md-4">
            <img src="static/assets/images/twopage.png"
                 class="img-responsive" alt="PDF twopage">
          </div>
          <div class="col-xs-12">
            <blockquote>
              <p class="text-center">PDFs separados</p>
            </blockquote>
          </div>
      </div>
          <div class="row" style="margin-top: 30px;">
            <div class="col-xs-12 col-md-12">
              <img src="static/assets/images/super_pdf.png"
                  class="img-responsive" alt="PDFs juntos">
              <blockquote>
                <p class="text-center">PDFs juntos</p>
              </blockquote> 
            </div>
          </div>
          <div class="row" style="margin-top: 30px;">
            <div class="col-xs-12 col-md-12">
              <img src="static/assets/images/watermarked_pdf.png"
                  class="img-responsive"
                  alt="PDF con marca de agua">
              <blockquote>
                <p class="text-center">PDF con marca de agua</p>
              </blockquote>
            </div>
          </div>
          </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <blockquote>
          <p>Código usado:
              <a href="https://github.com/xajr23/PDFs_with_python" 
              target="_blank" 
              rel="noopener noreferrer">
              Ver en GitHub
              </a>
          </p>
        </blockquote>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="static/assets/images/code_watermarker.png" 
                class="img-responsive" alt="Código Watermarker">
            <blockquote>
              <p>Código para la marca de agua</p>
            </blockquote>    
          </div>

          <div class="col-xs-12 col-md-6">
            <img src="static/assets/images/code_pdf_merger.png" 
               class="img-responsive" alt="Código PDF Merger">
            <blockquote>
              <p>Código para juntar los PDFs</p>
            </blockquote>
          </div>
        </div>
      </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="static/main.70a66962.js"></script></body>

</html>
